@import url(https://fonts.googleapis.com/css?family=Alex+Brush|Roboto:300,400,700,900|Titillium+Web:300,400,600,700&amp;display=swap);

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

.boxed-btn {
    background: #fff;
    color: #14435c !important;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #14435c;
    letter-spacing: 3px;
    text-align: center;
    color: #14435c;
    text-transform: uppercase;
    cursor: pointer
}

.boxed-btn:hover {
    background: #14435c;
    color: #fff !important;
    border: 1px solid #14435c
}

.boxed-btn:focus {
    outline: none
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    color: #092c3f;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    text-transform: normal
}

p {
    font-family: "Poppins", sans-serif;
    color: #10285d;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal
}

.single-brand.slick-slide {
    outline: 0
}

.slick-initialized .slick-slide {
    outline: 0
}

.img {
    max-width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

.clear {
    clear: both
}

a, .button {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus, .button:focus {
    text-decoration: none;
    outline: none
}

a {
    color: #635c5c
}

a:hover {
    color: #fff
}

a:focus, a:hover {
    text-decoration: none
}

a, button {
    color: #fff;
    outline: medium none
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
    outline: 0
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px
}

.btn {
    background: #ff2143;
    padding: 27px 44px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    border-radius: 0;
    -moz-user-select: none;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #fff;
    color: #000 !important;
    z-index: 1;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleX(0);
    border-radius: 0
}

.btn:hover::before {
    transform: scaleX(1);
    color: #000 !important;
    z-index: -1
}

a:hover {
    color: #000
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none
}

.btn-black {
    background: #0b1416
}

.submit-btn {
    width: 100%;
    background: #ff2143;
    padding: 19px 44px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: 0
}

.hero-btn {
    padding: 30px 38px
}

hero-btn {
    padding: 30px 38px
}

@media (max-width: 575px) {
    .btn.btn-black.f-right {
        float: left;
        margin-top: 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .btn.btn-black.f-right {
        float: left;
        margin-top: 20px
    }
}

#back-top {
    background: #14435c;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    z-index: 10;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, .2)
}

@media (max-width: 575px) {
    #back-top {
        right: 16px
    }
}

#back-top a i {
    display: block;
    line-height: 50px
}

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, .1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, .1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, .1);
    background: #fff
}

.mt-10 {
    margin-top: 10px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-65 {
    margin-bottom: 65px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-100 {
    margin-bottom: 100px
}

.pt-100 {
    padding-top: 100px
}

.pt-150 {
    padding-top: 150px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-100 {
    padding-bottom: 100px
}

.pb-120 {
    padding-bottom: 120px
}

.pb-140 {
    padding-bottom: 140px
}

@-webkit-keyframes heartbeat {
    to {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-color: #14435c;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, .15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, .15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.preloader .preloader-img img {
    max-width: 55px
}

.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
}

.testimonial-padding {
    padding-top: 148px;
    padding-bottom: 200px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .testimonial-padding {
        padding-top: 148px;
        padding-bottom: 200px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-padding {
        padding-top: 148px;
        padding-bottom: 200px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-padding {
        padding-top: 148px;
        padding-bottom: 200px
    }
}

@media (max-width: 575px) {
    .testimonial-padding {
        padding-top: 148px;
        padding-bottom: 200px
    }
}

.w-padding2 {
    padding-top: 90px;
    padding-bottom: 90px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .w-padding2 {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .w-padding2 {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

.section-padding30 {
    padding-top: 195px;
    padding-bottom: 170px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .section-padding30 {
        padding-top: 195px;
        padding-bottom: 170px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-padding30 {
        padding-top: 150px;
        padding-bottom: 110px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding30 {
        padding-top: 100px;
        padding-bottom: 70px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding30 {
        padding-top: 65px;
        padding-bottom: 30px
    }
}

@media (max-width: 575px) {
    .section-padding30 {
        padding-top: 65px;
        padding-bottom: 30px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .brand-area {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .brand-area {
        padding-top: 50px;
        padding-bottom: 50px
    }
}

.padding-bottom {
    padding-bottom: 190px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .padding-bottom {
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .padding-bottom {
        padding-bottom: 70px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .padding-bottom {
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .padding-bottom {
        padding-bottom: 70px
    }
}

.section-padding3 {
    padding-top: 195px;
    padding-bottom: 100px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-padding3 {
        padding-top: 195px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding3 {
        padding-top: 95px;
        padding-bottom: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding3 {
        padding-top: 60px;
        padding-bottom: 0
    }
}

@media (max-width: 575px) {
    .section-padding3 {
        padding-top: 60px;
        padding-bottom: 0
    }
}

.footer-padding {
    padding-top: 143px;
    padding-bottom: 80px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-padding {
        padding-top: 143px;
        padding-bottom: 80px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-padding {
        padding-top: 100px;
        padding-bottom: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 0
    }
}

@media (max-width: 575px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 0
    }

    .section-tittle {
        margin-bottom: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

.section-tittle span {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: #eb566c;
    display: inline-block;
    position: relative;
    padding-left: 68px
}

@media (max-width: 575px) {
    .section-tittle span {
        font-size: 14px
    }
}

.section-tittle span::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.section-tittle h2 {
    font-size: 50px;
    display: block;
    color: #092c3f;
    font-weight: 900
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle h2 {
        font-size: 31px
    }
}

@media (max-width: 575px) {
    .section-tittle h2 {
        font-size: 31px
    }
}

.section-tittle2 span {
    color: #cecece
}

.section-tittle2 span::before {
    background: #fff
}

.section-tittle2 h2 {
    color: #fff
}

@media (max-width: 575px) {
    .section-tittle2 h2 {
        font-size: 27px
    }
}

.section-bg {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-bottom {
        padding: 17px 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-bottom {
        padding: 17px 0
    }
}

@media (max-width: 575px) {
    .header-area .header-bottom {
        padding: 17px 0
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, .1)
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, .1)
    }
}

@media (max-width: 575px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, .1)
    }
}

.header-area .header-top {
    background: #0d2d3e;
    padding: 13px 0
}

.header-area .header-top .header-info-left ul li {
    color: #fff;
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase
}

.header-area .header-top .header-info-left ul li:last-child {
    margin-right: 0
}

.header-area .header-top .header-info-left ul li i {
    margin-right: 8px;
    color: #e94d65
}

.header-area .header-top .header-info-right .header-social li {
    display: inline-block
}

.header-area .header-top .header-info-right .header-social li a {
    color: #fff;
    font-size: 16px;
    padding-left: 25px
}

.header-area .header-top .header-info-right .header-social li a:hover {
    color: #14435c
}

.main-header {
    position: relative;
    z-index: 3
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main-header .main-menu {
        margin-right: 30px
    }
}

.main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1
}

.main-header .main-menu ul li a {
    color: #0d2d3e;
    font-weight: 400;
    padding: 39px 19px;
    display: block;
    font-size: 16px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-transform: capitalize
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header .main-menu ul li a {
        padding: 39px 14px
    }
}

.main-header .main-menu ul li:hover > a {
    color: #14435c
}

.main-header .main-menu ul li:last-child a {
    padding-right: 0
}

.main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #0d2d3e;
    left: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .05);
    padding: 17px 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.main-header .main-menu ul ul.submenu > li {
    margin-left: 7px;
    display: block
}

.main-header .main-menu ul ul.submenu > li > a {
    padding: 6px 10px !important;
    font-size: 15px;
    color: #fdfdfd
}

.main-header .main-menu ul ul.submenu > li > a:hover {
    background: none;
    padding-left: 13px !important
}

.main-header ul > li:hover > ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%
}

.header-area .header-top .header-info-right .header-social a i {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg)
}

.header-area .header-top .header-info-right .header-social a:hover i {
    color: #ff2143;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

.header-area .header-sticky.sticky-bar {
    background: #fff
}

.header-area .header-sticky.sticky-bar .main-menu nav > ul > li > a {
    padding: 25px 20px !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-sticky.sticky-bar {
        padding: 15px 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-sticky.sticky-bar {
        padding: 15px 0
    }
}

@media (max-width: 575px) {
    .header-area .header-sticky.sticky-bar {
        padding: 15px 0
    }
}

.mobile_menu {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99
}

.slider-height {
    height: 900px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-height {
        height: 700px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-height {
        height: 650px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-height {
        height: 500px
    }
}

@media (max-width: 575px) {
    .slider-height {
        height: 500px
    }
}

.slider-height2 {
    height: 450px;
    background-size: cover
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-height2 {
        height: 350px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-height2 {
        height: 260px
    }
}

@media (max-width: 575px) {
    .slider-height2 {
        height: 260px
    }
}

.slider-area2 {
    background-image: url(../img/hero/xhero2.jpg.pagespeed.ic.fv5sg2i33n.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.slider-area {
    margin-top: -1px;
    background-image: url(https://preview.colorlib.com/theme/consultingbiz/assets/img/hero/xh1_hero.jpg.pagespeed.ic.KANJPDPqHT.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.slider-area .hero__caption {
    overflow: hidden
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .slider-area .hero__caption {
        padding-left: 100px
    }
}

.slider-area .hero__caption span {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #eb566c;
    display: inline-block;
    position: relative;
    padding-left: 100px
}

@media (max-width: 575px) {
    .slider-area .hero__caption span {
        font-size: 13px
    }
}

.slider-area .hero__caption span::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.slider-area .hero__caption h1 {
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 14px;
    color: #000;
    font-family: "Sarabun", sans-serif;
    line-height: 1.2;
    margin-bottom: 33px
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .slider-area .hero__caption h1 {
        font-size: 71px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero__caption h1 {
        font-size: 60px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption h1 {
        font-size: 50px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption h1 {
        font-size: 35px;
        line-height: 1.2
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption h1 {
        font-size: 29px;
        line-height: 1.2
    }
}

.slider-area .hero__caption p {
    font-size: 16px;
    color: #000;
    font-family: "Roboto", sans-serif;
    margin-bottom: 39px;
    margin-bottom: 7px;
    margin-bottom: 50px
}

@media (max-width: 575px) {
    .slider-area .hero__caption p {
        margin-bottom: 30px;
        font-size: 14px
    }

    .slider-area .hero__caption p br {
        display: none
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption p br {
        display: none
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption p br {
        display: none
    }
}

.hero-overly2 {
    position: relative;
    z-index: 1
}

.hero-overly2::before {
    position: absolute;
    content: "";
    background-color: rgba(13, 45, 62, .8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat
}

.slider-area2 .hero-cap h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area2 .hero-cap h2 {
        font-size: 50px
    }
}

@media (max-width: 575px) {
    .slider-area2 .hero-cap h2 {
        font-size: 35px
    }
}

.slider-active button.slick-arrow {
    position: absolute;
    top: 50%;
    left: 100px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    border: 0;
    padding: 0;
    z-index: 2;
    opacity: 1;
    visibility: visible;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: 1px solid #a6b4bb;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .slider-active button.slick-arrow {
        left: 15px
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .slider-active button.slick-arrow {
        left: 20px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-active button.slick-arrow {
        right: 130px;
        left: auto
    }
}

.slider-active button.slick-arrow i {
    font-size: 20px;
    line-height: 60px;
    color: #a6b4bb;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.slider-active button.slick-next {
    left: auto;
    right: 100px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-active button.slick-next {
        right: 50px
    }
}

.slider-active button.slick-next {
    border: 1px solid #1b4962
}

.slider-active button.slick-next i {
    color: #1b4962
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .slider-active button.slick-next {
        right: 20px
    }
}

.slider-active button:hover {
    border: 1px solid #1b4962
}

.slider-active button:hover i {
    color: #1b4962
}

.categories-area {
    background: #f7f7f7
}

.categories-area .single-cat {
    border: 9px solid transparent;
    padding: 30px 22px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    position: relative;
    z-index: 1;
    background: #ffff
}

@media (max-width: 575px) {
    .categories-area .single-cat {
        padding: 30px 22px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .categories-area .single-cat {
        padding: 30px 18px
    }
}

.categories-area .single-cat::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background: #ff2143;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    bottom: 0;
    left: 0;
    z-index: -1;
    border: 9px solid #fff
}

.categories-area .single-cat .cat-icon span {
    color: #eb566c;
    font-size: 65px;
    margin-bottom: 30px;
    display: block
}

.categories-area .single-cat .cat-cap h5 > a {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 21px;
    display: block;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
    font-family: "Sarabun", sans-serif
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .categories-area .single-cat .cat-cap h5 > a {
        font-size: 21px
    }
}

@media (max-width: 575px) {
    .categories-area .single-cat .cat-cap h5 > a {
        font-size: 23px
    }
}

.categories-area .single-cat .cat-cap p {
    margin-bottom: 36px;
    color: #57667e;
    font-size: 16px;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .categories-area .single-cat .cat-cap p {
        font-size: 15px
    }
}

.categories-area .single-cat .cat-cap a {
    color: #1c165c;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

.categories-area .single-cat:hover {
    border: 1px solid transparent
}

.categories-area .single-cat:hover::before {
    height: 100%
}

.categories-area .single-cat:hover .cat-icon span {
    color: #fff
}

.categories-area .single-cat:hover .cat-cap h5 {
    color: #fff
}

.categories-area .single-cat:hover .cat-cap p {
    color: #fff
}

.categories-area .single-cat:hover .cat-cap a {
    color: #fff
}

.support-company-area .support-location-img img {
    width: 100%
}

.support-company-area .right-caption {
    position: relative;
    right: -50px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .support-company-area .right-caption {
        right: -25px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .support-company-area .right-caption {
        right: 0;
        margin-bottom: 40px;
        padding-top: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .support-company-area .right-caption {
        right: 0;
        margin-bottom: 40px;
        padding-top: 50px
    }
}

@media (max-width: 575px) {
    .support-company-area .right-caption {
        right: 0;
        margin-bottom: 40px;
        padding-top: 50px
    }
}

.support-company-area .right-caption .support-caption p.pera-top {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    font-family: "Roboto", sans-serif
}

.support-company-area .right-caption .support-caption p {
    font-size: 15px;
    color: #cecece
}

.count-down-area {
    margin-top: -60px
}

.count-down-area .single-counter {
    background: #fff;
    padding: 44px 10px 44px 9px;
    border: 1px solid #cfcfcf;
    margin-bottom: 30px
}

.count-down-area .single-counter.active {
    background: #ff2143;
    border: 10px solid #fff;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .05);
    position: relative;
    border: 0
}

.count-down-area .single-counter.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #fff;
    left: 0;
    top: 0
}

.count-down-area .single-counter.active span {
    color: #fff
}

.count-down-area .single-counter.active p {
    color: #fff
}

.count-down-area .single-counter span {
    color: #000;
    font-size: 60px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    margin-bottom: 12px;
    display: block
}

.count-down-area .single-counter p {
    font-size: 18px;
    color: #737980;
    line-height: 1;
    margin: 0;
    padding: 0
}

.services-area {
    background: #f7f7f7
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .services-area .single-services {
        margin-bottom: 30px
    }
}

@media (max-width: 575px) {
    .services-area .single-services {
        margin-bottom: 30px
    }
}

.services-area .single-services .services-img img {
    width: 100%
}

.services-area .single-services .services-caption {
    position: relative;
    background: #fff;
    width: 80%;
    padding: 33px 46px 16px 32px;
    margin-top: -50px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-area .single-services .services-caption {
        width: 95%
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .services-area .single-services .services-caption {
        width: 100%;
        padding: 33px 16px 16px 26px;
        margin-top: 0
    }
}

@media (max-width: 575px) {
    .services-area .single-services .services-caption {
        width: 100%;
        padding: 33px 16px 16px 26px;
        margin-top: 0
    }
}

.services-area .single-services .services-caption span {
    margin-bottom: 15px;
    line-height: 13px;
    font-family: "Roboto", sans-serif;
    position: relative;
    color: #e94d65;
    font-weight: 300;
    font-size: 14px;
    display: block;
    padding-left: 60px
}

.services-area .single-services .services-caption span::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #e94d65
}

.services-area .single-services .services-caption p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif
}

.services-area .single-services .services-caption p a {
    color: #0e132a;
    font-weight: 400;
    font-size: 20px;
    display: block
}

.services-area .single-services .services-caption p a:hover {
    color: #14435c
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-area .single-services .services-caption p a {
        font-size: 18px
    }
}

@media (max-width: 575px) {
    .services-area .single-services .services-caption p a {
        font-size: 18px
    }
}

.wantToWork-area .wantToWork-caption h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wantToWork-area .wantToWork-caption h2 {
        font-size: 30px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .wantToWork-area .wantToWork-caption h2 {
        font-size: 36px;
        margin-bottom: 20px
    }
}

@media (max-width: 575px) {
    .wantToWork-area .wantToWork-caption h2 {
        font-size: 25px;
        margin-bottom: 20px
    }
}

.wantToWork-area .wantToWork-caption p {
    font-size: 18px
}

.team-area {
    background: #f7f7f7
}

.team-area .single-team .team-img {
    overflow: hidden
}

.team-area .single-team .team-img img {
    width: 100%;
    transform: scale(1);
    transition: all .6s ease-out 0s
}

.team-area .single-team .team-caption {
    padding: 20px 20px 20px 50px;
    background: #fff
}

.team-area .single-team .team-caption span {
    color: #ff2143;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    display: block;
    position: relative;
    margin-left: 50px;
    margin-bottom: 10px
}

.team-area .single-team .team-caption span::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
    background: #ff2143
}

.team-area .single-team .team-caption h3 a {
    color: #161e46;
    font-weight: 700;
    font-size: 25px
}

.single-team:hover .team-img img {
    transform: scale(1.05)
}

.brand-area {
    background: #f7f7f7
}

.brand-area .single-brand.slick-slide {
    opacity: .7
}

.about-details .about-details-cap h4 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000a2d;
    display: inline-block;
    position: relative;
    padding-left: 68px
}

.about-details .about-details-cap h4::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.about-details .about-details-cap p {
    color: #464d65;
    font-size: 14px
}

.testimonial-area {
    background: #121212;
    position: relative
}

.testimonial-area .testimonial-caption {
    padding-left: 80px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-caption {
        padding-left: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .testimonial-caption {
        padding-left: 0
    }
}

@media (max-width: 575px) {
    .testimonial-area .testimonial-caption {
        padding-left: 0
    }
}

.testimonial-area .testimonial-caption .testimonial-top-cap svg {
    margin-bottom: 50px;
    width: auto;
    display: inline-block
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap svg {
        margin-bottom: 30px
    }
}

@media (max-width: 575px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap svg {
        margin-bottom: 30px
    }
}

.testimonial-area .testimonial-caption .testimonial-top-cap p {
    line-height: 1.5;
    padding-right: 100px;
    margin-bottom: 50px;
    font-size: 17px;
    color: #d3d3d4;
    font-weight: 300
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 20px;
        padding-right: 0
    }

    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 18px;
        padding-right: 0;
        margin-bottom: 60px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 18px;
        padding-right: 0;
        margin-bottom: 60px
    }
}

@media (max-width: 575px) {
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        font-size: 15px;
        padding-right: 0;
        margin-bottom: 60px
    }
}

.testimonial-area .testimonial-caption .testimonial-founder .founder-text {
    margin-left: 20px
}

.testimonial-area .testimonial-caption .testimonial-founder .founder-text span {
    color: #f04e3c;
    font-size: 30px;
    font-weight: 600
}

@media (max-width: 575px) {
    .testimonial-area .testimonial-caption .testimonial-founder .founder-text span {
        font-size: 26px
    }
}

.testimonial-area .testimonial-caption .testimonial-founder .founder-text p {
    color: #57667e;
    font-weight: 500;
    line-height: 1.5
}

.testimonial-area button.slick-arrow {
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    padding: 0;
    z-index: 2;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    color: #616373;
    background: none;
    margin: 0 auto;
    bottom: 0;
    border: 1px solid #616373
}

.testimonial-area button.slick-arrow:hover {
    border: 1px solid #f04e3c;
    color: #f04e3c
}

.testimonial-area button.slick-next {
    left: auto;
    right: -60px
}

.testimonial-area button i {
    font-size: 13px;
    position: relative;
    top: -3px
}

.testimonial-area .slick-initialized .slick-slide {
    outline: 0
}

.footer-area {
    background: #11141b
}

.footer-area .footer-top {
    border-bottom: 1px solid #233148
}

.footer-area .footer-top .single-footer-caption .footer-logo {
    margin-bottom: 30px
}

.footer-area .footer-top .single-footer-caption .footer-pera .info1 {
    line-height: 1.8;
    margin-bottom: 35px;
    color: #bdbdbd
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
        padding-right: 0
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
        padding-right: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
        padding-right: 0
    }

    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
        padding-right: 0
    }
}

.footer-area .footer-top .single-footer-caption .footer-number h4 {
    color: red;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize
}

.footer-area .footer-top .single-footer-caption .footer-number h4 span {
    color: #fff
}

.footer-area .footer-top .single-footer-caption .footer-number p {
    color: #bdbdbd
}

.footer-area .footer-top .single-footer-caption .footer-tittle h4 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 38px;
    font-weight: 500;
    text-transform: uppercase
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li {
    color: #bdbdbd;
    margin-bottom: 15px;
    text-transform: capitalize
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a {
    color: #bdbdbd;
    font-weight: 300
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a:hover {
    color: #fff;
    padding-left: 5px
}

.footer-area .footer-top .single-footer-caption .footer-form {
    margin-bottom: 30px
}

.footer-area .footer-top .single-footer-caption .footer-form form {
    position: relative
}

.footer-area .footer-top .single-footer-caption .footer-form form input {
    width: 100%;
    height: 43px;
    padding: 10px 20px;
    border: 0;
    background: #101720;
    color: #fff
}

.footer-area .footer-top .single-footer-caption .footer-form form input::placeholder {
    color: #9fa6bd;
    font-weight: 300;
    font-size: 14px
}

.footer-area .footer-top .single-footer-caption .footer-form form .form-icon button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 14px 22px;
    background: #0a0f17;
    line-height: 1;
    color: #fff;
    font-size: 14px;
    font-weight: 300
}

.footer-area .footer-top .single-footer-caption .info.error {
    color: red
}

.footer-area .footer-bottom {
    padding-bottom: 50px;
    padding-top: 30px
}

.footer-area .footer-bottom .footer-copy-right p {
    color: #bdbdbd;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 12px
}

.footer-area .footer-bottom .footer-copy-right p i {
    color: red
}

.footer-area .footer-bottom .footer-copy-right p a {
    color: red
}

.footer-area .footer-social span {
    color: #fff;
    position: relative;
    margin-right: 57px
}

.footer-area .footer-social span::before {
    position: absolute;
    content: "";
    width: 43px;
    height: 2px;
    background: #3b3647;
    top: 50%;
    transform: translateY(-50%);
    right: -56px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .footer-social {
        float: left;
        padding-top: 10px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .footer-social {
        float: left;
        padding-top: 10px
    }
}

@media (max-width: 575px) {
    .footer-area .footer-social {
        float: left;
        padding-top: 10px
    }
}

.footer-area .footer-social a {
    color: #bdbdbd;
    font-size: 14px;
    text-align: center;
    margin-left: 16px
}

.footer-area .footer-social a:first-child {
    margin-left: 0
}

.footer-area .footer-social a:hover {
    color: #fff
}

.home-blog-area {
    background: #f7f7f7
}

.home-blog-area .home-blog-single {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.home-blog-area .home-blog-single .blog-img-cap .blog-img {
    overflow: hidden;
    position: relative
}

.home-blog-area .home-blog-single .blog-img-cap .blog-img img {
    width: 100%;
    -webkit-transform: scale 1;
    -ms-transform: scale 1;
    transform: scale 1;
    transition: all .5s ease-out 0s
}

.home-blog-area .home-blog-single .blog-img-cap .blog-img ul {
    position: absolute;
    bottom: 0;
    width: 70%
}

@media (max-width: 575px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-img ul {
        width: 85%
    }
}

.home-blog-area .home-blog-single .blog-img-cap .blog-img ul li {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #011548;
    padding: 20px 30px 20px 84px;
    background: #f7f7f7
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-img ul li {
        padding: 20px 10px 20px 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-img ul li {
        padding: 20px 10px 20px 20px
    }
}

@media (max-width: 575px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-img ul li {
        padding: 20px 10px 20px 20px
    }
}

.home-blog-area .home-blog-single .blog-img-cap .blog-cap {
    background: #fff;
    padding: 30px 86px 36px 81px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-cap {
        padding: 37px 23px 37px 45px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-cap {
        padding: 30px 8px 31px 26px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-cap {
        padding: 30px 8px 31px 26px
    }
}

@media (max-width: 575px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-cap {
        padding: 30px 8px 31px 26px
    }
}

.home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a {
    color: #191d34;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block
}

.home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a:hover {
    color: #14435c
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a {
        font-size: 23px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a {
        font-size: 19px
    }
}

@media (max-width: 575px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-cap h3 a {
        font-size: 19px
    }
}

.home-blog-area .home-blog-single .blog-img-cap .blog-cap p {
    color: #737980;
    font-size: 16px;
    margin-bottom: 30px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-blog-area .home-blog-single .blog-img-cap .blog-cap p {
        font-size: 14px
    }
}

.home-blog-area .home-blog-single .blog-img-cap .blog-cap .more-btn {
    color: #ff2143;
    text-transform: capitalize;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    position: relative;
    padding-left: 50px
}

.home-blog-area .home-blog-single .blog-img-cap .blog-cap .more-btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ff2143
}

.home-blog-single:hover {
    box-shadow: 0 22px 57px 0 rgba(34, 41, 72, .05)
}

.home-blog-single:hover .blog-img img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

.blog_area a {
    color: "Roboto", sans-serif !important;
    text-decoration: none;
    transition: .4s
}

.blog_area a:hover, .blog_area a :hover {
    background: -webkit-linear-gradient(131deg, #14435c 0%, #14435c 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: .4s
}

.blog_item {
    margin-bottom: 50px
}

.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0 10px 20px 0 rgba(221, 221, 221, .3)
}

@media (min-width: 768px) {
    .blog_details {
        padding: 60px 30px 35px 35px
    }
}

.blog_details p {
    margin-bottom: 30px
}

.blog_details a {
    color: #242b5e
}

.blog_details a:hover {
    color: #ff2143
}

.blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px
}

@media (min-width: 768px) {
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px
    }
}

.blog-info-link li {
    float: left;
    font-size: 14px
}

.blog-info-link li a {
    color: #999
}

.blog-info-link li i, .blog-info-link li span {
    font-size: 13px;
    margin-right: 5px
}

.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px
}

.blog-info-link li:last-child::after {
    display: none
}

.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table
}

.blog_item_img {
    position: relative
}

.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #14435c;
    padding: 8px 15px;
    border-radius: 5px
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px
    }
}

.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date h3 {
        font-size: 30px
    }
}

.blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px
    }
}

.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px
}

.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff
}

.blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px
}

.blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0
}

.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0
}

.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999
}

.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .search_widget .input-group button {
    background: #14435c;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
    cursor: pointer
}

.blog_right_sidebar .search_widget .input-group button i {
    color: #fff
}

.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999
}

.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    border-radius: 0
}

.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0
}

.blog_right_sidebar .newsletter_widget .input-group button i, .blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #fff
}

.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all .3s ease 0s;
    padding-bottom: 12px
}

.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all .3s linear
}

.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #fff
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0
}

.blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all .3s ease 0s;
    color: #888;
    font-size: 13px
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #14435c;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s
}

.blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px
}

.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px
}

.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0
}

.blog-pagination {
    margin-top: 80px
}

.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px
}

.blog-pagination .page-link i, .blog-pagination .page-link span {
    font-size: 13px
}

.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888
}

.blog-pagination .page-item:last-child .page-link {
    margin-right: 0
}

.single-post-area .blog_details {
    box-shadow: none;
    padding: 0
}

.single-post-area .blog_details {
    padding-top: 26px
}

.single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px
}

.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, .1);
    padding: 15px;
    line-height: 1.733;
    color: #888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    .single-post-area .quote-wrapper {
        padding: 30px
    }
}

.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid
}

@media (min-width: 768px) {
    .single-post-area .quotes {
        padding: 25px 25px 25px 30px
    }
}

.single-post-area .arrow {
    position: absolute
}

.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600
}

.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff
}

.single-post-area .navigation-top p {
    margin-bottom: 0
}

.single-post-area .navigation-top .like-info {
    font-size: 14px
}

.single-post-area .navigation-top .like-info i, .single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px
}

.single-post-area .navigation-top .comment-count {
    font-size: 14px
}

.single-post-area .navigation-top .comment-count i, .single-post-area .navigation-top .comment-count span {
    font-size: 16px;
    margin-right: 5px
}

.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px
}

.single-post-area .navigation-top .social-icons li:last-child {
    margin: 0
}

.single-post-area .navigation-top .social-icons li i, .single-post-area .navigation-top .social-icons li span {
    font-size: 14px;
    color: #999
}

.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px
}

@media (max-width: 600px) {
    .single-post-area .blog-author {
        padding: 20px 8px
    }
}

.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px
}

@media (max-width: 600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px
    }
}

.single-post-area .blog-author a {
    display: inline-block
}

.single-post-area .blog-author a:hover {
    color: #ff2143
}

.single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px
}

.single-post-area .blog-author h4 {
    font-size: 16px
}

.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px
}

.single-post-area .navigation-area p {
    margin-bottom: 0
}

.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px
}

.single-post-area .navigation-area .nav-left {
    text-align: left
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: .5
}

@media (max-width: 767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px
    }
}

.single-post-area .navigation-area .nav-right {
    text-align: right
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: .5
}

.comments-area {
    background: transparent;
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px
}

@media (max-width: 414px) {
    .comments-area {
        padding: 50px 8px
    }
}

.comments-area h4 {
    margin-bottom: 35px;
    font-size: 18px
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0
}

.comments-area .comment-list {
    padding-bottom: 48px
}

.comments-area .comment-list:last-child {
    padding-bottom: 0
}

@media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px
    }

    .comments-area .comment-list .single-comment .date {
        font-size: 11px
    }

    .comments-area .comment-list .single-comment .comment {
        font-size: 10px
    }
}

.comments-area .thumb {
    margin-right: 20px
}

.comments-area .thumb img {
    width: 70px;
    border-radius: 50%
}

.comments-area .date {
    font-size: 14px;
    color: #999;
    margin-bottom: 0;
    margin-left: 20px
}

.comments-area .comment {
    margin-bottom: 10px;
    color: #777;
    font-size: 15px
}

.comments-area .btn-reply {
    background-color: transparent;
    color: #888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400
}

.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px
}

.comment-form .form-group {
    margin-bottom: 30px
}

.comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px
}

.comment-form .name {
    padding-left: 0
}

@media (max-width: 767px) {
    .comment-form .name {
        padding-right: 0;
        margin-bottom: 1rem
    }
}

.comment-form .email {
    padding-right: 0
}

@media (max-width: 991px) {
    .comment-form .email {
        padding-left: 0
    }
}

.comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent
}

.comment-form .form-control:focus {
    outline: 0;
    box-shadow: none
}

.comment-form .form-control::placeholder {
    font-weight: 300;
    color: #999
}

.comment-form .form-control::placeholder {
    color: #777
}

.comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100% !important
}

.comment-form ::-webkit-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form ::-moz-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-ms-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-moz-placeholder {
    font-size: 13px;
    color: #777
}

.dropdown .dropdown-menu {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.contact-info {
    margin-bottom: 25px
}

.contact-info__icon {
    margin-right: 20px
}

.contact-info__icon i, .contact-info__icon span {
    color: #8f9195;
    font-size: 27px
}

.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a
}

.contact-info .media-body h3 a:hover {
    color: #1f2b7b
}

.contact-info .media-body p {
    color: #8a8a8a
}

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px
}

.form-contact label {
    font-size: 14px
}

.form-contact .form-group {
    margin-bottom: 30px
}

.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent
}

.form-contact .form-control:focus {
    outline: 0;
    box-shadow: none
}

.form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999
}

.form-contact textarea {
    border-radius: 0;
    height: 100% !important
}

.contact-section {
    padding: 130px 0 100px
}

@media (max-width: 991px) {
    .contact-section {
        padding: 70px 0 40px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .contact-section {
        padding: 80px 0 50px
    }
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #4a3600;
    opacity: .6
}

.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px
}

b, sup, sub, u, del {
    color: #1f2b7b
}

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    color: #828bb2
}

.button-area {
    background: #fff
}

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee
}

.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px
}

.button-group-area .genric-btn:last-child {
    margin-right: 0
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.genric-btn:focus {
    outline: none
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px
}

.genric-btn.large {
    line-height: 45px
}

.genric-btn.medium {
    line-height: 30px
}

.genric-btn.small {
    line-height: 25px
}

.genric-btn.radius {
    border-radius: 3px
}

.genric-btn.circle {
    border-radius: 20px
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.genric-btn.arrow span {
    margin-left: 10px
}

.genric-btn.default {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.primary {
    color: #fff;
    background: #1f2b7b;
    border: 1px solid transparent
}

.genric-btn.primary:hover {
    color: #1f2b7b;
    border: 1px solid #1f2b7b;
    background: #fff
}

.genric-btn.primary-border {
    color: #1f2b7b;
    border: 1px solid #1f2b7b;
    background: #fff
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: #1f2b7b;
    border: 1px solid transparent
}

.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.link {
    color: #415094;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent
}

.genric-btn.link:hover {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.link-border {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline
}

.genric-btn.link-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.disable {
    color: #222, .3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #1f2b7b
}

.progress-table-wrap {
    overflow-x: scroll
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0 30px 0;
    min-width: 800px
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px
}

.progress-table .country {
    width: 28.07%
}

.progress-table .visit {
    width: 19.74%
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px
}

.progress-table .table-head {
    display: flex
}

.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
    color: #415094;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500
}

.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex
}

.progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
    display: flex;
    align-items: center
}

.progress-table .table-row .country img {
    margin-right: 15px
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0;
    background: transparent
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px
}

.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important
}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #1f2b7b;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%
}

.ordered-list {
    margin-left: 30px
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #1f2b7b;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list li span {
    font-weight: 300;
    color: #828bb2
}

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #1f2b7b;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list-alpha li span {
    font-weight: 300;
    color: #828bb2
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #1f2b7b;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list-roman li span {
    font-weight: 300;
    color: #828bb2
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input:focus {
    outline: none
}

.input-group-icon {
    position: relative
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3
}

.input-group-icon .icon i {
    color: #797979
}

.input-group-icon .single-input {
    padding-left: 45px
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none
}

.single-textarea:focus {
    outline: none
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #1f2b7b
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359
}

.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.default-switch input + label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1f2b7b;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.default-switch input:checked + label {
    left: 19px
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-switch input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.primary-switch input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.primary-switch input + label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.primary-switch input:checked + label:after {
    left: 19px
}

.primary-switch input:checked + label:before {
    background: #1f2b7b
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-switch input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.confirm-switch input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer
}

.confirm-switch input + label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.confirm-switch input:checked + label:after {
    left: 19px
}

.confirm-switch input:checked + label:before {
    background: #4cd3e3
}

.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-checkbox input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-checkbox input:checked + label {
    background: url('/public/assets/img/elements/primary-check.png') no-repeat center center/cover;
    border: none
}

.confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-checkbox input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked + label {
    background: url(/assets/img/elements/success-check.png) no-repeat center center/cover;
    border: none
}

.disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-checkbox input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-checkbox input:checked + label {
    background: url(/assets/img/elements/disabled-check.png) no-repeat center center/cover;
    border: none
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-radio input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-radio input:checked + label {
    background: url(/assets/img/elements/primary-radio.png) no-repeat center center/cover;
    border: none
}

.confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-radio input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-radio input:checked + label {
    background: url(/assets/img/elements/success-radio.png) no-repeat center center/cover;
    border: none
}

.disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-radio input + label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-radio input:checked + label {
    background: url(/assets/img/elements/disabled-radio.png) no-repeat center center/cover;
    border: none
}

.default-select {
    height: 40px
}

.default-select .nice-select {
    border: none;
    border-radius: 0;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px
}

.default-select .nice-select .list .option.selected {
    color: #1f2b7b;
    background: transparent
}

.default-select .nice-select .list .option:hover {
    color: #1f2b7b;
    background: transparent
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300
}

.default-select .nice-select::after {
    right: 20px
}

.form-select {
    height: 40px;
    width: 100%
}

.form-select .nice-select {
    border: none;
    border-radius: 0;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px
}

.form-select .nice-select .list .option.selected {
    color: #1f2b7b;
    background: transparent
}

.form-select .nice-select .list .option:hover {
    color: #1f2b7b;
    background: transparent
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300
}

.form-select .nice-select::after {
    right: 20px
}

.mt-10 {
    margin-top: 10px
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee
}

.mb-30 {
    margin-bottom: 30px
}

.mt-30 {
    margin-top: 30px
}

.switch-wrap {
    margin-bottom: 10px
}
